body {
    background-color: lightblue;
}

.crystal-image {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: darkblue;
    background-color: white;
}

#container {
    margin: 0 auto;
    background-color: yellow;
    text-align: center;
    /* padding-top: 10px; */
    color: darkblue;
    padding-bottom: 10px;
    border-style: solid;
    border-color: darkblue;
}

#spacebar {
    color: red;
}

.crystal-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }